modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = 44493554
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 8080
externalPort = 80
